/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html,body {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
    line-height: 1;
    color: #dddada;
    background-color: none;
    font-family: 'PT Sans Narrow', sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#particles-js{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: none;
	background-color: transparent;
	/* padding: 25px 0; */
	z-index: 99;
}

header .logo{
	position: relative;
	bottom: 10px;
}

.nav-link{
	word-spacing: 60px;
	font-size: 17px;
	font-family: roboto;
	color: white;
	padding: 0 20px 0 20px;
	margin:  0 20px 0 20px;
}


.fixed {
	height: 8%;
	position: fixed;
	/* top: 0;
	left: 0; */
	width: 100%;
	background-color: black;
	/* z-index: 99; */
	opacity: 0.5
}

section{
	padding: 20px 0;
	height: 100%;
	position: relative;
}

.home{
	color: #ffffff;
	padding: 30px;
	display: flex;
	height: 600px;

	background: url(https://cdn.pixabay.com/photo/2017/03/04/12/15/programming-2115930_960_720.jpg);
	background-size: 100% ;
	background-position: center;
	background-color: #34495e;
	background-attachment: fixed;
}

.home .app{
	background-color: rgb(228, 222, 222);
	height: 30%;
	width: 45%;
	opacity: 0.5;
	margin-top: 250px;
	margin-left: 3%;
	color: black;
	position: relative;
	left: 20%;
	top: -50px;
	z-index: 99;
	
}

.home .app h2{
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
	font-family: CrimsonText;
	position: relative;
	top: 20px;
	left: 30px;
}

.home .app h3{
	width: 100%;
	margin-top: 2%;
	font-size: 20px;
	font-family: CrimsonText;
	position: relative;
	top: 30px;
	left: 30px;
}

.home .app .bt a{
		color: white;
		text-decoration: none;
}

.home .app .bt{
	color: rgb(226, 236, 226);
	font-weight: bold;
	font-size: 20px;
	background-color: rgb(5, 41, 168);
	margin: 8% 0 0 25%;
	border-radius: 30px ;
	border: 1px solid black;
	font-family: CrimsonText;
	height: 20%;
	width: 50%;
	text-align: center;
}

.name{
	position: relative;
	top: 41%;
	left: 20%;
}

.name h1{
	font-size: 68px;
	text-shadow: 0 15px 20px #000000b0;
	text-align: center;
	margin-bottom: 0;
	visibility: hidden;
}

.name h5{
	background: #000;
	font-size: 18px;
	text-align: center;
	padding: 10 px 20px;
	margin: 10px 0 50px;
	display: inline-block;
	letter-spacing: 2px;
	border-radius: 2px;
	visibility: hidden;
}

.about .section-title{
	margin: 2%;
	font-size: 30px;
	margin-left: 1.5%;
	color: rgb(91, 122, 135);
	text-align: center;
	
}
.about .section-title h2{
	letter-spacing: 6px;
	text-transform: capitalize;
	color: orange;
}

.about .section-title p{
	margin: 2% 0 0 20%;
	line-height: 1.5;
	font-size: 25px;
	text-align: center;
	width: 60%;
	letter-spacing: 3px;
}


.about{
	width: auto;
	margin-bottom: 0;
	height: 70%;
	
}

.about-info{
	width: 90%;
	display: flex;
	position: relative;
	left: 20px;
	top: 40px;
}

.about .gambar{
	position: relative;
	left: 100px;
}

.gambar img{
	padding: 20px 0px 10px 0;
	width: 90%;
	height: 80%;

}
.about .about-info .content-about{
	float: left;
	margin: 0 10px 0 20px;
	padding-top: 10px;
}

.about .about-info .content-about p{
	line-height: 45px;
}

.service-title{
	text-align: center;
	font-size: 30px;
	width: 30%;
	position: relative;
	left: 35%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(196, 137, 10);
}

.info-1 .info-1-1{
	height: 90%;	
}

.info-1 .info-1-1 a{
	margin: 2% 2% 0 0;
	z-index: 99;
	cursor: pointer;
	
}
.info-1 .info-1-1 h6{
	position: relative;
	font-size: 15px;
}
.info-1 .info-1-2{
	height: 90%;
	z-index: 10;
}
.info-1 .info-1-2 a{
	margin: 2% 2% 0 0;
	z-index: 99;
	cursor: pointer;
}
.info-1 .info-1-3{
	height: 90%;
	z-index: 10;
}
.info-1 .info-1-3 a{
	margin: 53% 2% 0 0;
	z-index: 99;
	cursor: pointer;
}

.info-2{
	/* position: relative;
	margin: 0 0 0 7% ; */
}

.info-2 .info-1-1{
	height: 100%;
	z-index: 10;
}
.info-2 .info-1-1 img{
	height: 30%;
	width: 40%;
}
.info-2 .info-1-1 a{
	margin: 2% 2% 0 0;
	z-index: 99;
	cursor: pointer;
}
.info-2 .info-1-2{
	height: 100%;
	z-index: 10;
}
.info-2 .info-1-2 a{
	margin: 40% 2% 0 0;
	z-index: 99;
	cursor: pointer;
}
.info-2 .info-1-3{
	height: 100%;
	z-index: 10;
}
.info-2 .info-1-3 a{
	margin: 30% 2% 0 0;
	z-index: 99;
	cursor: pointer;
}

.team{
	margin: 100px;
	z-index: 80;
	height: 50%;

}

.team .title{
	font-size: 40px;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: orange;
}


.swiper-container {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 50px;

}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 320px;
	
}

.swiper-slide .info-image{
	position: relative;
	left: 30px;
}
.swiper-slide .info-image h3{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}




.imgBx{
	height: 80%;
	width: 250px;
	padding-top: 20px;
	padding-left: 20px;
	margin-left: 15px;
	margin-top: 10px;
	float: center;


}

.imgBx img{
	height: 90%;
	width: 90%;

}

/* STYLES SPECIFIC TO FOOTER  */

.footer .col {
	text-align: center;
}
	


  @media only screen and (min-width: 1280px) {
	.contain {
	  width: 1200px;
	  margin: 0 auto;
	}
  }
  @media only screen and (max-width: 1139px) {
	.contain .social {
	  width: 1000px;
	  display: block;
	}
	.social h1 {
	  margin: 0px;
	}
  }
  @media only screen and (max-width: 950px) {
	.footer .col {
	  width: 33%;
	}
	.footer .col h1 {
	  font-size: 14px;
	}
	.footer .col ul li {
	  font-size: 13px;
	}
  }
  @media only screen and (max-width: 500px) {
	  .footer .col {
		width: 50%;
	  }
	  .footer .col h1 {
		font-size: 14px;
	  }
	  .footer .col ul li {
		font-size: 13px;
	  }
  }
  @media only screen and (max-width: 340px) {
	.footer .col {
	  width: 100%;
	}
  }

@media only screen and (max-width: 1024px) {
	/* For mobile phones: */
   /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html,body {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
    line-height: 1;
    color: #dddada;
    background-color: none;
    font-family: 'PT Sans Narrow', sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#particles-js{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 0;
	z-index: 99;
}

header .logo{
	position: relative;
	bottom: 30px;
}

header .navbar-toggler{
	position: relative;
	bottom: 25px;
	background: red;
}

.nav-link.text-white{
	color: black;
	background-color: black;
}

.fixed {
	height: 10%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	/* z-index: 99; */
	opacity: 0.5
}

section{
	padding: 20px 0;
	height: 100%;
	position: relative;
}

.home{
	color: #ffffff;
	/* padding: 30px; */
	height: 2%;
	text-align: center;

	background: url(https://cdn.pixabay.com/photo/2017/03/04/12/15/programming-2115930_960_720.jpg);
	background-size: auto ;
	background-position: center;
	background-color: #34495e;
	/* background-attachment: fixed; */

}


.home .app{
	background-color: rgb(185, 26, 26);
	height: 140%;
	width: 150px;
	font-size: 9px;
	/* opacity: 0.5; */
	margin: 0 0 0 -120%;
	color: black;
	/* z-index: 99; */
	visibility: hidden;
	
}

.home .app h2{
	width: auto;
	font-size: 10%;
	font-weight: bold;
	line-height: 1.5;
	font-family: CrimsonText;
	position: relative;
	top: 20px;
	
}

.home .app h3{
	width: 100%;
	margin-top: 2%;
	font-size: 20px;
	font-family: CrimsonText;
	position: relative;
	top: 30px;
	left: 30px;
}

.home .app .bt a{
		color: white;
		text-decoration: none;
}

.home .app .bt{
	color: rgb(226, 236, 226);
	font-weight: bold;
	font-size: 20px;
	background-color: rgb(5, 41, 168);
	margin: 8% 0 0 25%;
	border-radius: 30px ;
	border: 1px solid black;
	font-family: CrimsonText;
	height: 20%;
	width: 50%;
	text-align: center;
	

}

.home .name{
	position: relative;
	top: 73px;
	/* right: 60px; */
	left: 0px;
	/* background: red;  */
	/* justify-content: center; */
	/* backface-visibility: hidden; */
}

.name h1{
	font-size: 68px;
	text-shadow: 0 15px 20px #000000b0;
	text-align: center;
	margin-bottom: 0;

}

.name h5{
	background: #000;
	font-size: 18px;
	text-align: center;
	padding: 10 px 20px;
	margin: 10px 0 50px;
	display: inline-block;
	letter-spacing: 2px;
	border-radius: 2px;

}

.about .section-title{
	margin: 2%;
	font-size: 30px;
	margin-left: 1.5%;
	color: rgb(91, 122, 135);
	text-align: center;
	
}
.about .section-title h2{
	letter-spacing: 6px;
	text-transform: capitalize;
	color: orange;
}

.about .section-title p{
	margin: 2% 0 0 20%;
	line-height: 1.5;
	font-size: 25px;
	text-align: center;
	width: 60%;
	letter-spacing: 3px;
}


.about{
	width: auto;
	margin-bottom: 0;
	height: 70%;
	
}

.about-info{
	width: 90%;
	display: flex;
	position: relative;
	left: 20px;
	top: 40px;
}

.about .gambar{
	position: relative;
	left: 100px;
}

.gambar img{
	padding: 20px 0px 10px 0;
	width: 90%;
	height: 80%;

}
.about .about-info .content-about{
	float: left;
	margin: 0 10px 0 20px;
	padding-top: 10px;
}

.about .about-info .content-about p{
	line-height: 45px;
}


.info-1 .info-1-1{
	height: 90%;	
}

.info-1 .info-1-1 a{
	margin: 2% 2% 0 0;
	position: relative;
	z-index: 99;
	cursor: pointer;
	
}
.info-1 .info-1-1 h6{
	position: relative;
	font-size: 15px;
}
.info-1 .info-1-2{
	height: 90%;
	z-index: 10;
}
.info-1 .info-1-2 a{
	margin: 2% 2% 0 0;
	position: relative;
	z-index: 99;
	cursor: pointer;
}
.info-1 .info-1-3{
	height: 90%;
	z-index: 10;
}
.info-1 .info-1-3 a{
	margin: 53% 2% 0 0;
	z-index: 99;
	cursor: pointer;
}

.info-2{
	/* position: relative;
	margin: 0 0 0 7% ; */
}

.info-2 .info-1-1{
	height: 90%;
	z-index: 10;
}
.info-2 .info-1-1 img{
	height: 30%;
	width: 40%;
}
.info-2 .info-1-1 a{
	margin: 2% 2% 0 0;
	z-index: 99;
	cursor: pointer;
}
.info-2 .info-1-2{
	height: 90%;
	z-index: 10;
}
.info-2 .info-1-2 a{
	margin: 40% 2% 0 0;
	z-index: 99;
	cursor: pointer;
}
.info-2 .info-1-3{
	height: 90%;
	z-index: 10;
}
.info-2 .info-1-3 a{
	margin: 30% 2% 0 0;
	z-index: 99;
	cursor: pointer;
}

.team{
	margin: 100px;
	z-index: 80;
	height: 50%;

}

.team .title{
	font-size: 40px;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: orange;
}


.swiper-container {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 50px;

}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 320px;
	
}

.swiper-slide .info-image{
	position: relative;
	left: 30px;
}
.swiper-slide .info-image h3{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

.imgBx{
	height: 80%;
	width: 250px;
	padding-top: 20px;
	padding-left: 20px;
	margin-left: 15px;
	margin-top: 10px;
	float: center;
}

.imgBx img{
	height: 90%;
	width: 90%;

}

/* STYLES SPECIFIC TO FOOTER  */

.footer .col {
	text-align: center;
}

